@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

* {
  font-family: 'Press Start 2P', cursive;
  background-color: #202223;
  color: whitesmoke;
}

.App {
  text-align: center;
}


/* Header stuff-- Beg */
.HeaderDiv > h1 > span {
  color: rgb(172,21,21)
  ;
}

.HeaderDiv > h1 {
  color: rgb(23,91,146);
}
.HeaderDiv > p {
  color: whitesmoke;
  opacity: 0.7;
}

/* Header stuff-- End */

/* Footer stuff-- Beg */

.FooterDiv {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  width: 100%;
}
.FooterDiv > div > div {
  display: flex;
}

.FooterDiv > div > div > a {
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
}
.FooterDiv > div > div > a > .icon {
  padding: 8px 4px 8px 4px;
  font-size: 1.5rem;
}

.FooterDiv > div > div > a > .icon > path {
  transition: 1s;
}
.FooterDiv > div > div > a > .icon:hover > path {
  opacity: 0.5;
  transform: scale(1.2);
}

.FooterDiv > div > div > a > .ICONFacebook > path {
  color:rgb(66,103,178);
}

.FooterDiv > div > div > a > .ICONTwitter > path {
  color:rgb(28,156,234);
}

.FooterDiv > div > div > a > .ICONGithub > path {
  color:rgb(91,96,110);
}

.FooterDiv > div > div > a > .ICONYoutube > path {
  color:rgb(255,0,0);
}

.FooterDiv > div > div > a > .ICONJs > path {
  color:rgb(231,186,56);
}

/* Footer stuff-- End */


/* CV Builder stuff-- Beg */

.CV-Builder {
  margin-top: 30px;
  margin-bottom: 10px;
}

.CV-Builder > form > button {
  margin: 40px 0 10px 0;
  width: 140px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-style: none;
  color: rgb(32,34,35);
  background-color: rgb(231,186,56);
  transition: all .2s ease-in-out; 
}
.CV-Builder > form > button:focus {
   outline:0;
}

.CV-Builder > form > button:hover {
  backface-visibility: hidden;
  transform: scale(1.1);
}


.CV-Builder > form > div > h3{
  color: rgb(231,186,56);
}

.DataInputs {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DataInputs > label >input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.CompInput {
  text-align: center;
  width: 37%;
  border-color: aliceblue;
  border-style: solid;
  border-width: 1px;
}


.btnForAdd {
  margin: 20px 0px 20px 0px;
  min-width: 140px;
  min-height: 40px;
  font-size: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-style: none;
  color: rgb(32,34,35);
  background-color: rgb(23,91,146);;
  transition: all .2s ease-in-out;
  opacity: 0.6;
}

.btnForAdd:focus {
  outline:0;
}

.pGreen {
  color: green;
}

.btnForAdd:hover {
  backface-visibility: hidden;
  transform: scale(1.1);
  opacity: 1;
}

/* CV Builder stuff-- End */

